@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300&family=Lobster&family=Poppins:wght@200;300;400&family=Quicksand:wght@400;500;600;700&display=swap");

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    font-family: "Quicksand", sans-serif;
    width: 700px;
    height: 400px;
    padding-top: 100px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 100px #00000033;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  h1 {
    font-size: 60px;
    margin: 0;
    letter-spacing: -0.05em;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  button {
    background-image: linear-gradient(
      90deg,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );

    width: auto;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    outline: none;
    height: 56px;
    min-width: 180px;
    line-height: 56px;
    text-decoration: none;
    padding: 0 35px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    &:hover {
      transition: all 0.4s ease;
      background-image: linear-gradient(
        95deg,
        #25aae1,
        #40e495,
        #30dd8a,
        #2bb673
      );
      box-shadow: 0 4px 15px 0 rgb(49 196 190 / 75%);
    }
  }
}
